{% extends "base.html" %}
{% block title %}Verify OTP{% endblock %}

{% block content %}
<div class="container" style="max-width:400px; margin-top:100px;">
  <div class="card p-4 shadow-sm text-center">

    <h4 class="mb-3">Enter OTP</h4>
    <p class="text-muted">Check your email for the 6-digit code.</p>

    <form method="POST">
  <input name="otp"
         type="text"
         maxlength="6"
         class="form-control mb-3 text-center"
         placeholder="Enter 6-digit OTP"
         required>

  <button class="btn btn-primary w-100 mb-2">
    Verify
  </button>

  <button name="resend"
          value="1"
          type="submit"
          formnovalidate
          class="btn btn-link text-decoration-none">
    Resend OTP
  </button>
</form>

  </div>
</div>
{% endblock %}